@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('./inter.ttf') format('truetype');
}

* {
  font-family: 'Inter', sans-serif !important;
}